body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Georgia, Times, 'Times New Roman',
  'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

h1 , h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

ul{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

select{
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

input{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

/* select{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
