.div{
    display: flex;
}

.form{
    margin: 0 auto;
    width: 44%;
    height: max-content;
    background-color: #eb7f19;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 0px;    
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 2px solid black;
    margin-top: 20px;
}

.p{
    background-color: white;
    font-size: 14px;
    color: red;
    margin-top: 5px;
    margin-left: 40px;
    width: fit-content;
    border: none;
    font-weight: bold;
}

.divs{
    margin-bottom: 18px;
}

.titulo {
    display: flex;
    justify-content: center;
    color: white;
    border-bottom: 2px solid white;
}

.label{
    margin-left: 40px;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.inputName {
    width: 86%;
    height: 30px;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    background-color: transparent;
    margin-left: 40px;
    border-bottom: 1px solid white;
}.inputName::placeholder{
    color: rgba(240, 240, 240, 0.658);
}
.inputName:focus{
    outline: 0;
}

.inputImage{
    width: 86%;
    height: 30px;
    font-size: 15px;
    color: white;
    margin-left: 40px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white;
}
.inputImage::placeholder{
    color: rgba(240, 240, 240, 0.658);
}
.inputImage:focus{
    outline: 0;
}

.inputSummary{
    width: 86%;
    margin-left: 40px;
    height: 70px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}.inputSummary::placeholder{
    color: rgba(240, 240, 240, 0.658);
}
.inputSummary:focus{
    outline: 0;
}

.inputHealth{
    width: 86%;
    height: 30px;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    margin-left: 40px;
    background-color: transparent;
    border-bottom: 1px solid white;
}
.inputHealth::placeholder{
    color: rgba(240, 240, 240, 0.658);
}
.inputHealth:focus{
    outline: 0;
}

.inputInstructions{
    width: 86%;
    height: 30px;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 20px;
    color: white;
    margin-left: 40px;
    background-color: transparent;
    border-bottom: 1px solid white;
}
.inputInstructions::placeholder{
    color: rgba(240, 240, 240, 0.658);
}
.inputInstructions:focus{
    outline: 0;
}

.botonInstruction{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-left: 40px;
    /* color: rgb(233, 226, 226); */
}

.dietas{
    display: inline-block;
    margin-right: 11px;
    font-size: 19px;
    color: white;
    margin-left: 40px;
}

.post{
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.postBtn{
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.btnBack{
    height: 40px;
    width: 130px;
    background-color: #eb7f19;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

.btnBack:hover{
    transform: scale(1.05);
}

.span{
    margin-left: 7px;
    padding: 2px;
    background-color: white;
}

.span i {
    color: #e5be01;
}
