.div{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.ul{
    list-style: none;
}

.searchDiv {
    position: relative;
    display: inline-block;
}

.inputSearch{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    width: 170px;
    height: 20px;
}

.btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: transparent;
    border: none;
}

.select{
    width: fit-content;
    background-color: #e3e3e3;
    font-size: 13px;
    text-align: center;
    /* height: fit-content; */
    border-radius: 25px;
    border: none;
    padding-left: 7px;
}

.reset{   
    width: fit-content;
    background-color: #a8a8a8;
    font-size: 13px;
    text-align: center;
    /* height: fit-content; */
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.reset:hover{
    transform: scale(1.03);
}