.fondo{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.pizarra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-image: url('./tituloDefblanco.png');
    background-size: 100% 100% ;
}

.btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-30%);
    font-size: 20px;
    color: white;
    cursor: pointer;
    background-color: #eb7f19;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 40px;
    padding-left: 17px;
    padding-right: 15px;
    transition: transform 0.2s ease-in-out;
    
}

.btn:hover{
    transform: translate(-30%) scale(1.1);
    text-decoration: underline;
}

