.ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
    margin-top: 30px;
}

.atras{
    cursor: pointer;
    transform: scaleX(-1);
    margin-right: 15px;
    color: black;
    font-size: medium;
    align-content: center;
    background-color: transparent;
    border: none;
}

.atras:disabled{
    display: none;
}

.atras:hover{
    transform: scale(1.1);
    transform: scaleX(-1);
    border-radius: 50%;
    background-color: #eb7f19;
}

.adelante{
    cursor: pointer;
    color: black;
    font-size: medium;
    align-content: center;
    background-color: transparent;
    border: none;
}

.adelante:disabled{
    display: none;
}

.adelante:hover{
    transform: scale(1.1);
    border-radius: 50%;
    background-color: #eb7f19;
}

.numPag{
    cursor: pointer;
    margin-right: 15px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: medium;
    align-content: center;
}

.numPag:hover{
    border-radius: 50%;
    background-color: #eb7f19;
    transform: scale(1.1);
}

.numPagSelec{
    margin-right: 15px;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: #eb7f19;
    border: none;
    color: black;
    font-size: medium;
    align-content: center;
}
