.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    margin-top: 250px;
    border: 4px solid rgb(200, 210, 210);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-left-color: #eb7f19;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}